html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 16px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

main {
    display: block;
}

ol,
ul {
    list-style: none;
}

b,
strong {
    font-weight: bolder;
    font-family: 'Futura PT', sans-serif;
}

*,
:after,
:before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border-style: none;
}

a {
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    transition: all .3s;
    /* -webkit-transition: all .4s linear;
    transition: all .4s linear; */
}

a:hover,
a:focus {
    text-decoration: none;
}

input,
select,
textarea,
button {
    border: none;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

textarea {
    resize: vertical;
    overflow: auto;
    resize: none;
}

::-ms-clear {
    display: none;
}

input {
    overflow: visible;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

select::-ms-expand {
    display: none;
}

* {
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    border-radius: 0;
}

label {
    margin: 0;
}

input,
button,
select {
    border: none;
    outline: none;
}

input {
    border-radius: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    color: #fff;
    font-family: 'pt sans';
    font-weight: normal;
    font-size: 1rem;
    position: relative;
    background: rgba(77, 105, 255, 0.2);
}

.container {
    width: 100%;
    max-width: calc(1162px + (15px * 2));
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.hero {
    max-width: 1220px;
    width: 100%;
    margin: auto;
}

.container--hero{
    max-width: calc(1220px + (15px * 2));
}

.hero__inner {
    background: #4D69FF;
    border-radius: 0px 0px 25px 25px;
    padding-top: 38px;
    padding-left: 32px;
    height: 424px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.hero__title {
    font-size: 60px;
}

.hero__desc {
    font-size: 34px;
    margin-bottom: 24px;
}

.hero__skills{
    max-width: 320px;
}

.hero__left{
    padding-right: 20px;
}

.hero__img {
        width: 100%;
        max-width: 450px;
        background: #000;
        position: absolute;
        height: 70%;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        overflow: hidden;
        border-radius: 25px 0 0 25px;


}

.hero__img img {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.portf{
    margin-top: 86px;
    padding-bottom: 100px;
}

.portf__title{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 65px;
    color: #000;
}

.card{
    background: #fff;
    max-width: 368px;
    height: 532px;
    border-radius: 25px;
    color: #000;
    margin-right: 30px;
        margin-right: 44px;
    margin-bottom: 30px;

}

.card:nth-child(3n){
    margin-right: 0;
}

.portf__cards{
    display: flex;
    flex-wrap: wrap;
    max-width: 1162px;
    margin: auto;
    align-items: flex-start;
}

.card__img{
    /* background: url(Без названия.png),
    url(ZdbzVP71zR8.jpg); */
    mix-blend-mode: normal;
    border-radius: 25px 25px 25px 0px;
    height: 286px;
    width: 100%;
        background: #4D69FF;
}

.card__text{
    padding-left: 32px;
    padding-top: 20px;
    padding-right: 32px;
    position: relative;
}

.card__title{
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 25px;
    height: 64px;
}

.card__desc{
    font-size: 18px;
    line-height: 175%;
}

@media(max-width:1150px) {
    .card {
            height: 490px;
            max-width: 312px;
    }

    .card__img{
        height: 244px;
    }
}

@media(max-width:1000px){
    .hero__right{
        display: none;
    }

    .hero{
        background: #4D69FF;
    }


    .portf__cards{
        flex-direction: column;
    }
    .card{
        max-width: 310px;
        margin-right: 0;
    }


    .card:nth-child(3n){
        margin-right: 0px;
    }
}
